@colorGrey: #7b716f;
@colorBorderItem: #787878;
@colorBlue: #90d8d5;
@colorWhite: #fff;
@colorHeader: #8fd7d4;
@colorOrange: #e86f56;
@colorHover: #69605e;
@colorBtn: #857a78;
@colorBthActive: #716866;
@colorDashboat: #f1f1f1;
@colorDashboatText: #b5b5b5;
@colorBlack: #000;
@colorHeaderBorder: 3#a6e0de;
@colorIconsHexago: #f7f7f7;


@import 'reset.less';
@import url(novus-head.less);
@import url(user-head-block.less);
@import url(dashboard.less);
@import url(coments.less);
@import url(calendar.less);
@import url(mixins.less);


.submit {
	&.hide {
		display: none;
	}
}





body {
	background-image: url(../img/bg.png);
	margin: 20px;
}
.conteiner {
	margin: auto;
	width: 100%;
	max-width: 1000px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.75);
}
// main
.main-page {
	width: 100%;
	.space-between();
}

.content {
	width: 100%;
}
// sitebar
.sitebar {
	width: 10%;
	background-color: @colorGrey;
	position: relative;
	&:after{
		position: absolute;
		content: " ";
		width: 5px;
		height: 100%;
		background-color: #6b6261;
		top: 0;
    	right: 0;
	}
}
.siteban-nav {
	li {
		padding: 20px 0;
		text-align: center;
		font-size: 12px;
		color: @colorWhite;
		cursor: pointer;
		&:hover {
			background-color: @colorHover;
		}
		&:not(:last-child) {
			border-bottom: 2px solid @colorBorderItem;
		}
		p {
			margin-top: 5px;
		}
	}
	.active {
		background-color: @colorHeader;
	}
}
// dinamic-block
.dynamic-block {
	width: 100%;
	.space-around ();
	background-color: @colorIconsHexago;
}